<section id ='comment' >
    <div id='multiCollapseComment{{id}}' style='padding:0px'>
        <h2 style='text-align:center'>Comments</h2>
        <div  id='comment{{id}}' class='createPost-Partial'>
            {{title}}
        </div>
    </div>
</section>