<section class="signUp-Partial">
  {{!-- Container{{Signup{username and box, password and box}}} --}}
  <h2>Log In</h2>
  <form>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="username" class="form-control" id="username">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn" id='submit-btn'>Submit</button>
    <button type="signup" class="btn" id='signup-btn'>Signup</button>
  </form>
</section>
<script src="/javascript/login.js"></script>