html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px;
}
* {
    font-family: 'Comfortaa', cursive;
}
/* Navbar */
.container-fluid {
    width:auto;
    margin:0px;
}
.navbar {
    background: lightgray;
}
.navbar-brand {
    display: inline-flex;
    padding:.5rem .5rem .5rem .25rem;
    background: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgb(54, 148, 192), 0 6px 20px 0 rgb(126, 126, 250);
}
.navbar-brand h1 {
    margin:1.25rem .5rem;
    font-size: 2vw;
    color: rgb(17, 144, 203);
    text-decoration: underline;
}
.navbar-brand img{
    align-self: center;
    width: auto;
    height: 4vw;
}
.navbar-right-item{
    padding:0vw 1vw;
    
}
/* index */
.intro {
    margin: 2vw 30%;
    text-align: center;
}
/* signup/createPost */
.signUp{
    margin: 2vw 40%;
}
.signUp-Partial, .createPost-Partial{
    background: #e7ecf0;
    border: 5px;
    border-style: inset;
    padding: 1vw;
    box-shadow: 0 4px 8px 0 rgb(54, 148, 192), 0 6px 20px 0 rgb(126, 126, 250);
    border-color: rgb(93, 194, 241);
}
.createPost-Partial {
    padding: .5vw;
}
.signUp-Partial h2,.btn{
    text-decoration: underline;
    color:rgb(17, 144, 203);
}
.createPost-Partial h2, .btn{
    text-decoration: underline;
    color:rgb(17, 144, 203);
}
.createPost-Partial h2 {
    font-size: 1vw;
}
#form-comment {
    height:100px;
}
/*posts*/
.post-container {
    margin: 1vw 20%;
    padding:.5rem .5rem .5rem .25rem;
    background: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgb(54, 148, 192), 0 6px 20px 0 rgb(126, 126, 250);
    text-decoration: none;
}
.dashboard .post-container {
    margin: 1vw 10%
}
.post-dropdown, .collapse {
    width: 100%;
    text-decoration: none;
    
}
.comment{
    height: 2vw;
    width: auto;
    padding: 6px;
}
.info{
    text-align: center;
    align-items: center;
    margin: 0px;
}
/*footer*/
#bottom-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    text-align: center;
}